@import '../../common/colors.scss';

.header {
    background-color: $secondary-color;
    height: 72px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.logo {
    color: $font-primary;
    font-size: 20px;
    font-weight: 600;
}
  
.user-image,
.user-image img {
    width: 38px;
    height: 38px;
}
  
.search-bar {
    width: 50%;
    display: flex;
    justify-content: center;
  
  form {
      display: flex;
      justify-content: center;
      width: 70%;
      button {
        padding: 0px 8px;
        font-size: 20px;
        cursor: pointer;
        height: 52px;
      }
    }
  
  input {
      font-size: 18px;
      width: 100%;
      padding: 5px 5px 5px 10px;
      height: 38px;
      outline: none;
  }
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	/*Big smartphones [426px -> 600px]*/
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
  .search-bar {
  
  form {
      button {
        height: 34px;
      }
    }
  
  input {
      padding: 5px 5px 5px 5px;
      height: 20px;
      outline: none;
  }
}
}